{% extends "layouts/app.twig" %}

{% block pageTitle %}Превью{% endblock %}

{% set small_header = 'false' %}

{% block content %}

	<div class="app-wrapper">
		<div class="container">
			<p><a href="/setup-instruction-state-1.html" class="default-link pointer">Главная</a></p>
			<p><a href="/setup-instruction-state-2.html" class="default-link pointer">Инструкция</a></p>
			<p><a href="/setup-instruction-state-3.html" class="default-link pointer">Обновление</a></p>
			<p><a href="/setup-instruction-state-4.html" class="default-link pointer">Отзывы</a></p>
			<p><a href="/reviews.html" class="default-link pointer">Рейтинг и отзывы</a></p>
		</div>
	</div>

{% endblock %}